.container
  = simple_form_for(@appointment) do |f|
    = f.error_notification

    .form-inputs
      = f.association :doctor
      = f.association :patient
      = f.input :appointment_date

    .form-actions
      = f.button :submit
