%h1 Listing appointments

%table.table
  %thead
    %tr
      %th Doctor
      %th Patient
      %th Appointment date
      %th
      %th
      %th

  %tbody
    - @appointments.each do |appointment|
      %tr
        %td= appointment.doctor
        %td= appointment.patient
        %td= appointment.appointment_date
        %td= link_to 'Show', appointment
        %td= link_to 'Edit', edit_appointment_path(appointment)
        %td= link_to 'Destroy', appointment, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Appointment', new_appointment_path
